(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2004 3 2 23 37 41)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 6.1.03i"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2003 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_reg_inputsb = 0 ")
       (comment "c_reg_inputsa = 0 ")
       (comment "c_has_ndb = 0 ")
       (comment "c_has_nda = 0 ")
       (comment "c_ytop_addr = 1024 ")
       (comment "c_has_rfdb = 0 ")
       (comment "c_has_rfda = 0 ")
       (comment "c_ywea_is_high = 1 ")
       (comment "c_yena_is_high = 1 ")
       (comment "InstanceName = bram1 ")
       (comment "c_yclka_is_rising = 1 ")
       (comment "c_yhierarchy = hierarchy1 ")
       (comment "c_family = virtex ")
       (comment "c_ysinita_is_high = 1 ")
       (comment "c_ybottom_addr = 0 ")
       (comment "c_width_b = 2 ")
       (comment "c_width_a = 2 ")
       (comment "c_sinita_value = 0 ")
       (comment "c_sinitb_value = 0 ")
       (comment "c_limit_data_pitch = 18 ")
       (comment "c_write_modeb = 0 ")
       (comment "c_write_modea = 0 ")
       (comment "c_has_rdyb = 0 ")
       (comment "c_yuse_single_primitive = 0 ")
       (comment "c_has_rdya = 0 ")
       (comment "c_addra_width = 13 ")
       (comment "c_addrb_width = 13 ")
       (comment "c_has_limit_data_pitch = 0 ")
       (comment "c_default_data = 0 ")
       (comment "c_pipe_stages_b = 0 ")
       (comment "c_yweb_is_high = 1 ")
       (comment "c_yenb_is_high = 1 ")
       (comment "c_pipe_stages_a = 0 ")
       (comment "c_yclkb_is_rising = 1 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_ysinitb_is_high = 1 ")
       (comment "c_has_web = 0 ")
       (comment "c_has_default_data = 1 ")
       (comment "c_has_sinitb = 0 ")
       (comment "c_has_wea = 1 ")
       (comment "c_has_sinita = 0 ")
       (comment "c_has_dinb = 0 ")
       (comment "c_has_dina = 1 ")
       (comment "c_ymake_bmm = 0 ")
       (comment "c_has_enb = 0 ")
       (comment "c_has_ena = 0 ")
       (comment "c_depth_b = 8192 ")
       (comment "c_mem_init_file = mif_file_16_1 ")
       (comment "c_depth_a = 8192 ")
       (comment "c_has_doutb = 1 ")
       (comment "c_has_douta = 0 ")
       (comment "c_yprimitive_type = 4kx1 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell FDE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell RAMB4_S1_S1 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port WEA (direction INPUT))
                   (port ENA (direction INPUT))
                   (port RSTA (direction INPUT))
                   (port CLKA (direction INPUT))
                   (port (rename DIA_0_ "DIA<0>") (direction INPUT))
                   (port (rename DOA_0_ "DOA<0>") (direction OUTPUT))
                   (port (rename ADDRA_0_ "ADDRA<0>") (direction INPUT))
                   (port (rename ADDRA_1_ "ADDRA<1>") (direction INPUT))
                   (port (rename ADDRA_2_ "ADDRA<2>") (direction INPUT))
                   (port (rename ADDRA_3_ "ADDRA<3>") (direction INPUT))
                   (port (rename ADDRA_4_ "ADDRA<4>") (direction INPUT))
                   (port (rename ADDRA_5_ "ADDRA<5>") (direction INPUT))
                   (port (rename ADDRA_6_ "ADDRA<6>") (direction INPUT))
                   (port (rename ADDRA_7_ "ADDRA<7>") (direction INPUT))
                   (port (rename ADDRA_8_ "ADDRA<8>") (direction INPUT))
                   (port (rename ADDRA_9_ "ADDRA<9>") (direction INPUT))
                   (port (rename ADDRA_10_ "ADDRA<10>") (direction INPUT))
                   (port (rename ADDRA_11_ "ADDRA<11>") (direction INPUT))
                   (port WEB (direction INPUT))
                   (port ENB (direction INPUT))
                   (port RSTB (direction INPUT))
                   (port CLKB (direction INPUT))
                   (port (rename DIB_0_ "DIB<0>") (direction INPUT))
                   (port (rename DOB_0_ "DOB<0>") (direction OUTPUT))
                   (port (rename ADDRB_0_ "ADDRB<0>") (direction INPUT))
                   (port (rename ADDRB_1_ "ADDRB<1>") (direction INPUT))
                   (port (rename ADDRB_2_ "ADDRB<2>") (direction INPUT))
                   (port (rename ADDRB_3_ "ADDRB<3>") (direction INPUT))
                   (port (rename ADDRB_4_ "ADDRB<4>") (direction INPUT))
                   (port (rename ADDRB_5_ "ADDRB<5>") (direction INPUT))
                   (port (rename ADDRB_6_ "ADDRB<6>") (direction INPUT))
                   (port (rename ADDRB_7_ "ADDRB<7>") (direction INPUT))
                   (port (rename ADDRB_8_ "ADDRB<8>") (direction INPUT))
                   (port (rename ADDRB_9_ "ADDRB<9>") (direction INPUT))
                   (port (rename ADDRB_10_ "ADDRB<10>") (direction INPUT))
                   (port (rename ADDRB_11_ "ADDRB<11>") (direction INPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell bram1
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename addra "addra<12:0>") 13 ) (direction INPUT))
   (port ( array ( rename addrb "addrb<12:0>") 13 ) (direction INPUT))
   (port ( rename clka "clka") (direction INPUT))
   (port ( rename clkb "clkb") (direction INPUT))
   (port ( array ( rename dina "dina<1:0>") 2 ) (direction INPUT))
   (port ( rename wea "wea") (direction INPUT))
   (port ( array ( rename doutb "doutb<1:0>") 2 ) (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance B5
      (viewRef view_1 (cellRef RAMB4_S1_S1 (libraryRef xilinxun)))
      (property INIT_00 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_01 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_08 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_09 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0F (string "0000000000000000000000000000000000000000000000000000000000000000"))
   )
   (instance B8
      (viewRef view_1 (cellRef RAMB4_S1_S1 (libraryRef xilinxun)))
      (property INIT_00 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_01 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_08 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_09 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0F (string "0000000000000000000000000000000000000000000000000000000000000000"))
   )
   (instance BU12
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU16
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "caca"))
   )
   (instance BU26
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "4444"))
   )
   (instance BU31
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "8888"))
   )
   (instance BU41
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "4444"))
   )
   (instance BU46
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "8888"))
   )
   (instance B50
      (viewRef view_1 (cellRef RAMB4_S1_S1 (libraryRef xilinxun)))
      (property INIT_00 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_01 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_08 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_09 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0F (string "0000000000000000000000000000000000000000000000000000000000000000"))
   )
   (instance B53
      (viewRef view_1 (cellRef RAMB4_S1_S1 (libraryRef xilinxun)))
      (property INIT_00 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_01 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_08 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_09 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0F (string "0000000000000000000000000000000000000000000000000000000000000000"))
   )
   (instance BU57
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU61
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "caca"))
   )
   (instance BU71
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "4444"))
   )
   (instance BU76
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "8888"))
   )
   (instance BU86
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "4444"))
   )
   (instance BU91
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property INIT (string "8888"))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef RSTA (instanceRef B5))
      (portRef WEB (instanceRef B5))
      (portRef RSTB (instanceRef B5))
      (portRef DIB_0_ (instanceRef B5))
      (portRef RSTA (instanceRef B8))
      (portRef WEB (instanceRef B8))
      (portRef RSTB (instanceRef B8))
      (portRef DIB_0_ (instanceRef B8))
      (portRef I3 (instanceRef BU16))
      (portRef I2 (instanceRef BU26))
      (portRef I3 (instanceRef BU26))
      (portRef I2 (instanceRef BU31))
      (portRef I3 (instanceRef BU31))
      (portRef I2 (instanceRef BU41))
      (portRef I3 (instanceRef BU41))
      (portRef I2 (instanceRef BU46))
      (portRef I3 (instanceRef BU46))
      (portRef RSTA (instanceRef B50))
      (portRef WEB (instanceRef B50))
      (portRef RSTB (instanceRef B50))
      (portRef DIB_0_ (instanceRef B50))
      (portRef RSTA (instanceRef B53))
      (portRef WEB (instanceRef B53))
      (portRef RSTB (instanceRef B53))
      (portRef DIB_0_ (instanceRef B53))
      (portRef I3 (instanceRef BU61))
      (portRef I2 (instanceRef BU71))
      (portRef I3 (instanceRef BU71))
      (portRef I2 (instanceRef BU76))
      (portRef I3 (instanceRef BU76))
      (portRef I2 (instanceRef BU86))
      (portRef I3 (instanceRef BU86))
      (portRef I2 (instanceRef BU91))
      (portRef I3 (instanceRef BU91))
    )
   )
   (net N1
    (joined
      (portRef P (instanceRef VCC))
      (portRef CE (instanceRef BU12))
      (portRef I1 (instanceRef BU26))
      (portRef I1 (instanceRef BU31))
      (portRef I1 (instanceRef BU41))
      (portRef I1 (instanceRef BU46))
      (portRef CE (instanceRef BU57))
      (portRef I1 (instanceRef BU71))
      (portRef I1 (instanceRef BU76))
      (portRef I1 (instanceRef BU86))
      (portRef I1 (instanceRef BU91))
    )
   )
   (net (rename N8 "doutb<1>")
    (joined
      (portRef (member doutb 0))
      (portRef O (instanceRef BU61))
    )
   )
   (net (rename N9 "doutb<0>")
    (joined
      (portRef (member doutb 1))
      (portRef O (instanceRef BU16))
    )
   )
   (net (rename N127 "addra<12>")
    (joined
      (portRef (member addra 0))
      (portRef I0 (instanceRef BU26))
      (portRef I0 (instanceRef BU31))
      (portRef I0 (instanceRef BU71))
      (portRef I0 (instanceRef BU76))
    )
   )
   (net (rename N128 "addra<11>")
    (joined
      (portRef (member addra 1))
      (portRef ADDRA_11_ (instanceRef B5))
      (portRef ADDRA_11_ (instanceRef B8))
      (portRef ADDRA_11_ (instanceRef B50))
      (portRef ADDRA_11_ (instanceRef B53))
    )
   )
   (net (rename N129 "addra<10>")
    (joined
      (portRef (member addra 2))
      (portRef ADDRA_10_ (instanceRef B5))
      (portRef ADDRA_10_ (instanceRef B8))
      (portRef ADDRA_10_ (instanceRef B50))
      (portRef ADDRA_10_ (instanceRef B53))
    )
   )
   (net (rename N130 "addra<9>")
    (joined
      (portRef (member addra 3))
      (portRef ADDRA_9_ (instanceRef B5))
      (portRef ADDRA_9_ (instanceRef B8))
      (portRef ADDRA_9_ (instanceRef B50))
      (portRef ADDRA_9_ (instanceRef B53))
    )
   )
   (net (rename N131 "addra<8>")
    (joined
      (portRef (member addra 4))
      (portRef ADDRA_8_ (instanceRef B5))
      (portRef ADDRA_8_ (instanceRef B8))
      (portRef ADDRA_8_ (instanceRef B50))
      (portRef ADDRA_8_ (instanceRef B53))
    )
   )
   (net (rename N132 "addra<7>")
    (joined
      (portRef (member addra 5))
      (portRef ADDRA_7_ (instanceRef B5))
      (portRef ADDRA_7_ (instanceRef B8))
      (portRef ADDRA_7_ (instanceRef B50))
      (portRef ADDRA_7_ (instanceRef B53))
    )
   )
   (net (rename N133 "addra<6>")
    (joined
      (portRef (member addra 6))
      (portRef ADDRA_6_ (instanceRef B5))
      (portRef ADDRA_6_ (instanceRef B8))
      (portRef ADDRA_6_ (instanceRef B50))
      (portRef ADDRA_6_ (instanceRef B53))
    )
   )
   (net (rename N134 "addra<5>")
    (joined
      (portRef (member addra 7))
      (portRef ADDRA_5_ (instanceRef B5))
      (portRef ADDRA_5_ (instanceRef B8))
      (portRef ADDRA_5_ (instanceRef B50))
      (portRef ADDRA_5_ (instanceRef B53))
    )
   )
   (net (rename N135 "addra<4>")
    (joined
      (portRef (member addra 8))
      (portRef ADDRA_4_ (instanceRef B5))
      (portRef ADDRA_4_ (instanceRef B8))
      (portRef ADDRA_4_ (instanceRef B50))
      (portRef ADDRA_4_ (instanceRef B53))
    )
   )
   (net (rename N136 "addra<3>")
    (joined
      (portRef (member addra 9))
      (portRef ADDRA_3_ (instanceRef B5))
      (portRef ADDRA_3_ (instanceRef B8))
      (portRef ADDRA_3_ (instanceRef B50))
      (portRef ADDRA_3_ (instanceRef B53))
    )
   )
   (net (rename N137 "addra<2>")
    (joined
      (portRef (member addra 10))
      (portRef ADDRA_2_ (instanceRef B5))
      (portRef ADDRA_2_ (instanceRef B8))
      (portRef ADDRA_2_ (instanceRef B50))
      (portRef ADDRA_2_ (instanceRef B53))
    )
   )
   (net (rename N138 "addra<1>")
    (joined
      (portRef (member addra 11))
      (portRef ADDRA_1_ (instanceRef B5))
      (portRef ADDRA_1_ (instanceRef B8))
      (portRef ADDRA_1_ (instanceRef B50))
      (portRef ADDRA_1_ (instanceRef B53))
    )
   )
   (net (rename N139 "addra<0>")
    (joined
      (portRef (member addra 12))
      (portRef ADDRA_0_ (instanceRef B5))
      (portRef ADDRA_0_ (instanceRef B8))
      (portRef ADDRA_0_ (instanceRef B50))
      (portRef ADDRA_0_ (instanceRef B53))
    )
   )
   (net (rename N140 "addrb<12>")
    (joined
      (portRef (member addrb 0))
      (portRef D (instanceRef BU12))
      (portRef I0 (instanceRef BU41))
      (portRef I0 (instanceRef BU46))
      (portRef D (instanceRef BU57))
      (portRef I0 (instanceRef BU86))
      (portRef I0 (instanceRef BU91))
    )
   )
   (net (rename N141 "addrb<11>")
    (joined
      (portRef (member addrb 1))
      (portRef ADDRB_11_ (instanceRef B5))
      (portRef ADDRB_11_ (instanceRef B8))
      (portRef ADDRB_11_ (instanceRef B50))
      (portRef ADDRB_11_ (instanceRef B53))
    )
   )
   (net (rename N142 "addrb<10>")
    (joined
      (portRef (member addrb 2))
      (portRef ADDRB_10_ (instanceRef B5))
      (portRef ADDRB_10_ (instanceRef B8))
      (portRef ADDRB_10_ (instanceRef B50))
      (portRef ADDRB_10_ (instanceRef B53))
    )
   )
   (net (rename N143 "addrb<9>")
    (joined
      (portRef (member addrb 3))
      (portRef ADDRB_9_ (instanceRef B5))
      (portRef ADDRB_9_ (instanceRef B8))
      (portRef ADDRB_9_ (instanceRef B50))
      (portRef ADDRB_9_ (instanceRef B53))
    )
   )
   (net (rename N144 "addrb<8>")
    (joined
      (portRef (member addrb 4))
      (portRef ADDRB_8_ (instanceRef B5))
      (portRef ADDRB_8_ (instanceRef B8))
      (portRef ADDRB_8_ (instanceRef B50))
      (portRef ADDRB_8_ (instanceRef B53))
    )
   )
   (net (rename N145 "addrb<7>")
    (joined
      (portRef (member addrb 5))
      (portRef ADDRB_7_ (instanceRef B5))
      (portRef ADDRB_7_ (instanceRef B8))
      (portRef ADDRB_7_ (instanceRef B50))
      (portRef ADDRB_7_ (instanceRef B53))
    )
   )
   (net (rename N146 "addrb<6>")
    (joined
      (portRef (member addrb 6))
      (portRef ADDRB_6_ (instanceRef B5))
      (portRef ADDRB_6_ (instanceRef B8))
      (portRef ADDRB_6_ (instanceRef B50))
      (portRef ADDRB_6_ (instanceRef B53))
    )
   )
   (net (rename N147 "addrb<5>")
    (joined
      (portRef (member addrb 7))
      (portRef ADDRB_5_ (instanceRef B5))
      (portRef ADDRB_5_ (instanceRef B8))
      (portRef ADDRB_5_ (instanceRef B50))
      (portRef ADDRB_5_ (instanceRef B53))
    )
   )
   (net (rename N148 "addrb<4>")
    (joined
      (portRef (member addrb 8))
      (portRef ADDRB_4_ (instanceRef B5))
      (portRef ADDRB_4_ (instanceRef B8))
      (portRef ADDRB_4_ (instanceRef B50))
      (portRef ADDRB_4_ (instanceRef B53))
    )
   )
   (net (rename N149 "addrb<3>")
    (joined
      (portRef (member addrb 9))
      (portRef ADDRB_3_ (instanceRef B5))
      (portRef ADDRB_3_ (instanceRef B8))
      (portRef ADDRB_3_ (instanceRef B50))
      (portRef ADDRB_3_ (instanceRef B53))
    )
   )
   (net (rename N150 "addrb<2>")
    (joined
      (portRef (member addrb 10))
      (portRef ADDRB_2_ (instanceRef B5))
      (portRef ADDRB_2_ (instanceRef B8))
      (portRef ADDRB_2_ (instanceRef B50))
      (portRef ADDRB_2_ (instanceRef B53))
    )
   )
   (net (rename N151 "addrb<1>")
    (joined
      (portRef (member addrb 11))
      (portRef ADDRB_1_ (instanceRef B5))
      (portRef ADDRB_1_ (instanceRef B8))
      (portRef ADDRB_1_ (instanceRef B50))
      (portRef ADDRB_1_ (instanceRef B53))
    )
   )
   (net (rename N152 "addrb<0>")
    (joined
      (portRef (member addrb 12))
      (portRef ADDRB_0_ (instanceRef B5))
      (portRef ADDRB_0_ (instanceRef B8))
      (portRef ADDRB_0_ (instanceRef B50))
      (portRef ADDRB_0_ (instanceRef B53))
    )
   )
   (net (rename N153 "clka")
    (joined
      (portRef clka)
      (portRef CLKA (instanceRef B5))
      (portRef CLKA (instanceRef B8))
      (portRef CLKA (instanceRef B50))
      (portRef CLKA (instanceRef B53))
    )
   )
   (net (rename N154 "clkb")
    (joined
      (portRef clkb)
      (portRef CLKB (instanceRef B5))
      (portRef CLKB (instanceRef B8))
      (portRef C (instanceRef BU12))
      (portRef CLKB (instanceRef B50))
      (portRef CLKB (instanceRef B53))
      (portRef C (instanceRef BU57))
    )
   )
   (net (rename N155 "dina<1>")
    (joined
      (portRef (member dina 0))
      (portRef DIA_0_ (instanceRef B50))
      (portRef DIA_0_ (instanceRef B53))
    )
   )
   (net (rename N156 "dina<0>")
    (joined
      (portRef (member dina 1))
      (portRef DIA_0_ (instanceRef B5))
      (portRef DIA_0_ (instanceRef B8))
    )
   )
   (net (rename N173 "wea")
    (joined
      (portRef wea)
      (portRef WEA (instanceRef B5))
      (portRef WEA (instanceRef B8))
      (portRef WEA (instanceRef B50))
      (portRef WEA (instanceRef B53))
    )
   )
   (net N205
    (joined
      (portRef ENA (instanceRef B8))
      (portRef O (instanceRef BU31))
    )
   )
   (net N206
    (joined
      (portRef ENA (instanceRef B5))
      (portRef O (instanceRef BU26))
    )
   )
   (net N207
    (joined
      (portRef ENB (instanceRef B8))
      (portRef O (instanceRef BU46))
    )
   )
   (net N208
    (joined
      (portRef ENB (instanceRef B5))
      (portRef O (instanceRef BU41))
    )
   )
   (net N213
    (joined
      (portRef DOB_0_ (instanceRef B8))
      (portRef I1 (instanceRef BU16))
    )
   )
   (net N214
    (joined
      (portRef DOB_0_ (instanceRef B5))
      (portRef I0 (instanceRef BU16))
    )
   )
   (net N809
    (joined
      (portRef Q (instanceRef BU12))
      (portRef I2 (instanceRef BU16))
    )
   )
   (net N1045
    (joined
      (portRef ENA (instanceRef B53))
      (portRef O (instanceRef BU76))
    )
   )
   (net N1046
    (joined
      (portRef ENA (instanceRef B50))
      (portRef O (instanceRef BU71))
    )
   )
   (net N1047
    (joined
      (portRef ENB (instanceRef B53))
      (portRef O (instanceRef BU91))
    )
   )
   (net N1048
    (joined
      (portRef ENB (instanceRef B50))
      (portRef O (instanceRef BU86))
    )
   )
   (net N1053
    (joined
      (portRef DOB_0_ (instanceRef B53))
      (portRef I1 (instanceRef BU61))
    )
   )
   (net N1054
    (joined
      (portRef DOB_0_ (instanceRef B50))
      (portRef I0 (instanceRef BU61))
    )
   )
   (net N1649
    (joined
      (portRef Q (instanceRef BU57))
      (portRef I2 (instanceRef BU61))
    )
   )
))))
(design bram1 (cellRef bram1 (libraryRef test_lib))
  (property X_CORE_INFO (string "blkmemdp_v5_0, Coregen 6.1.03i"))
  (property PART (string "XCV100BG256") (owner "Xilinx")))
)
