NET "vga_hsync" LOC = "P23";
NET "vga_vsync" LOC = "P26";
NET "vga_red0" LOC = "P12";
NET "vga_red1" LOC = "P13";
NET "vga_blue0" LOC = "P21";
NET "vga_blue1" LOC = "P22";
NET "vga_green0" LOC = "P19";
NET "vga_green1" LOC = "P20";
NET "clock" LOC = "P88";
NET "resetn" LOC = "P78";
//NET "resetn" LOC = "p26";
NET "right_in" LOC = "P54";
NET "left_in" LOC = "P56";
NET "down_in" LOC = "P27";
NET "up_in" LOC = "P28";
NET "c_start" LOC = "P63";
NET "a_b" LOC = "P64";
NET "clock" TNM_NET = "clock";
TIMESPEC "TS_clock" = PERIOD "clock" 20 ns HIGH 50 %; 